*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sublime specific
sublime.sbt
*.sublime
*.sublime-project
*.sublime-workspace

# IDEA IntelliJ
.idea/*
.idea_modules/*

# OSX
.DS_Store

